@import './varibles.scss';
.lingua__faqs{
    margin-inline: 100px;
    @media screen and (max-width: 755px) {
        margin-inline: 50px;
    }
    @media screen and (max-width: 500px) {
        margin-inline: 20px;
    }
    margin-top: 150px;
    font-family: $axiforma;
    .lingua__faqs-heading{
        span{
            font-family: $axiforma;
            font-weight: 500;
            font-size: 14px;
            line-height: 190%;
            text-transform: uppercase;
            color: $outline_dark;
            margin-bottom: 0.5rem;
        }
        h2{
            @media screen and (max-width: 425px) {
                font-size: 28px;
            }
            font-family: $axiforma;
            font-weight: lighter;
            font-size: 40px;
            line-height: 130%;
            color: $text_primary;
            margin-bottom: 3rem;
        }
    }
    .wrappers{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        & > * {
            flex: 1 1 500px;
        }
    }
    .lingua__faqs-wrapper{
        gap: 10px;
        flex-wrap: wrap;
        .lingua__faq{
            margin-bottom: 10px;
            background-color: white;
            padding: 25px 45px;
            @media screen and (max-width: 700px) {
                padding: 15px 25px;
            }
            border: 1px solid $outline_dark;
            border-radius: 20px;
            .lingua__faq-content{
                transition: all 0.5s linear;
                &.open{
                    // background-color: red;
                    color: white;
                    .lingua__faq-content-header{
                        span{
                            color: white;
                            &:nth-child(2){
                                background-color: white;
                                color: $primary_200;
                            }
                        }
                    }
                    transition: all 0.2s linear;
                }
                overflow: hidden;
                .lingua__faq-content-header{
                    position: relative;
                    cursor: pointer;
                    // height: 2.5rem;
                    // background-color: red;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        position: relative;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 36px;
                        color: $text_primary;
                        margin-right: 2rem;
                        
                        
                        @media screen and (max-width: 600px) {
                            font-size: 14px;
                            line-height: 25px;
                        }
                        // &:nth-child(2){
                        //     width: 32px;
                        //     height: 32px;
                        //     background-color: $primary_200;
                        //     display: flex;
                        //     align-items: center;
                        //     justify-content: center;
                        //     // border-radius: ;
                        //     color: white;
                        //     margin-left: 0.5rem;
                        // }
                    }
                    
                }
                p{
                    // display: none;
                    // margin-top: 1rem;
                    height: 0px;
                    transition: all 0.2s linear;
                    font-size: 18px;
                    @media screen and (max-width: 600px) {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}